accelerate==0.22.0
data-selection==1.0.3
datasets==2.16.1
flash-attn==2.3.3
huggingface-hub==0.20.1
nltk==3.8.1
packaging==23.2
pandas==2.0.3
peft==0.7.1
protobuf==4.25.1
psutil==5.9.6
pyarrow==14.0.1
pyarrow-hotfix==0.6
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.10.3
rotary-emb @ git+https://github.com/Dao-AILab/flash-attention.git@9356a1c0389660d7e231ff3163c1ac17d9e3824a#subdirectory=csrc/rotary
sentencepiece==0.1.99
tabulate==0.9.0
tokenizers==0.14.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.1
transformers==4.35.0
triton==2.1.0
tzdata==2023.3
wandb==0.16.1
xxhash==3.4.1
yarl==1.9.4
zstandard==0.22.0
zstd==1.5.5.1
openai==0.28.1